@model TrashcollectorProject.Models.Customer
@{
    ViewBag.Title = "ExtraDay";
}

<h2>Request Extra Pickup</h2>
@using (Html.BeginForm())
{
<form action="/CustomersController/FormCollectionEg" method="post">
    To schedule an extra pickup this week, please enter the day of the week you want the pickup scheduled for, and click the submit button: @Html.TextBox("day")
    <input type="submit" value="Submit" />
</form>
}


